/** Hero Section Vectors */
.highlightVector {
	position: relative;
	top: 41px;
	left: -2px;

	@media (min-width: 1440px) {
		& {
			transform: scale(1.6);
			top: 83px;
			left: -3px;
		}
	}
}

.strokeVector {
	position: relative;
	top: 68px;
	left: 65px;

	@media (min-width: 1440px) {
		& {
			transform: scale(1.6);
			top: 135px;
			left: 104px;
		}
	}
}

/** Summary Section Vectors */
.topLeftSummaryVectorBox {
	position: relative;
	bottom: 40px;
	right: 172px;
}

.topRightSummaryVectorBox {
	position: relative;
	bottom: 40px;
	left: 70px;
}

.bottomLeftSummaryVectorBox {
	position: relative;
	top: 467px;
	right: 172px;
}

.bottomRightSummaryVectorBox {
	position: relative;
	top: 479px;
	left: 73px;
}

.middleLeftSummaryVectorBox {
	position: relative;
	top: 307px;
	right: 127px;
}

.middleRightSummaryVectorBox {
	position: relative;
	top: 307px;
	left: 100px;
}

.topLeftSummaryVector,
.topRightSummaryVector,
.bottomLeftSummaryVector,
.bottomRightSummaryVector,
.middleLeftSummaryVector,
.middleRightSummaryVector {
	position: absolute;
}
