/** Hero Section Vectors */
.highlightVector {
	position: relative;
	top: 41px;
	left: -2px;

	@media (min-width: 1440px) {
		& {
			transform: scale(1.6);
			top: 83px;
			left: -3px;
		}
	}
}

.strokeVector {
	position: relative;
	top: 68px;
	left: 65px;

	@media (min-width: 1440px) {
		& {
			transform: scale(1.6);
			top: 135px;
			left: 104px;
		}
	}
}

/** Summary Section Vectors */
.blueSummaryVectorBox {
	position: relative;
	bottom: 64px;
	right: 172px;
}

.orangeSummaryVectorBox {
	position: relative;
	bottom: 64px;
	left: 69px;
}

.pinkSummaryVectorBox {
	position: relative;
	top: 425px;
	right: 172px;
}

.violetSummaryVectorBox {
	position: relative;
	top: 437px;
	left: 73px;
}

.blueSummaryVector,
.orangeSummaryVector,
.pinkSummaryVector,
.violetSummaryVector {
	position: absolute;
	filter: grayscale(100%);
	opacity: 0.4;
	transition: all 0.3s ease-in-out;
}
