.navBar {
	position: fixed;
	top: var(--34);
	left: 0;
	right: 0;
	margin: 0 auto;
	width: fit-content;
	height: var(--60);
	padding: var(--12) var(--8);

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--16);

	border-radius: var(--12);
	background-color: var(--background);
	z-index: 10;

	&::before {
		content: '';
		position: absolute;
		padding: 1px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		background: var(--border-gradient);
		mask: var(--mask-gradient);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		pointer-events: none;
	}
}

.navItem {
	position: relative;
	width: fit-content;
	padding: var(--12) var(--16);
	font-size: var(--16);
	font-weight: 400;
	color: var(--foreground);
	border-radius: var(--4);
	transition: all 200ms ease;
}

.navItem:hover {
	text-decoration: none;
	background-color: var(--background-secondary);
	transition: all 100ms ease;
}

.navItem:active {
	background-color: var(--background-tertiary);
	transition: all 0ms;
}
